.content {
  margin: 0;
  flex-grow: 1;
  font-size: 14px;
  color: #fb2a0a;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
